{% extends "layout.html" %}
{% block body %}



        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(static/img/item1.jpg);background-repeat: round;">
            <h1 class="text-center text-white display-6">Item</h1>
       <!--      <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active text-white">Item</li>
            </ol> -->
        </div>
        <!-- Single Page Header End -->


        <!-- Item Page Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <h1 class="mb-4">Item details</h1>
                <form action="/insertItem" method="post">
                    <div class="row g-5">
                        <div class="col-md-12 col-lg-6 col-xl-7">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-item w-100">
                                        <label class="form-label my-3">Code<sup>*</sup></label>
                                        <input type="text" class="form-control" name="code" required >
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-item w-100">
                                        <label class="form-label my-3">Name<sup>*</sup></label>
                                        <input type="text" class="form-control" name="name" required >
                                    </div>
                                </div>
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3">Barcode<sup>*</sup></label>
                                <input type="text" class="form-control" name="barcode" required >
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3">Qrcode <sup>*</sup></label>
                                <input type="text" class="form-control" name="qrCode" required >
                            </div>
                            
                            <hr>
                            <div class="form-item">
                                <textarea class="form-control" spellcheck="false" cols="30" rows="11" placeholder="Notes (Optional)" name="description"></textarea>
                            </div>
                              <div class="row">
                             <div class="col-md-12 col-lg-12">
                                    <div class="form-item w-100">
                                        <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                                        <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Save</button> 
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-5">
                            <div class="d-flex align-items-center mt-4">
                                <img src="static/img/item.png" class="img-fluid rounded-circle" style="object-fit: none;width: 500px; height: 350px;" alt="">
                                <input type="text" name="image" hidden="hidden">
                            </div>
                           
                            <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                                <button type="button" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Change Image</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Item Page End -->


      {% endblock %}