{% extends "layout.html" %}
{% block body %}


        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5"  style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(static/img/market1.jpg);background-repeat: round;">
            <h1 class="text-center text-white display-6">Market</h1>
<!--             <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active text-white">Market</li>
                </ol>
 -->        </div>
        <!-- Single Page Header End -->


        <!-- Market Page Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <h1 class="mb-4">Market details</h1>
                <form action="/insertMarket" method="post">
                    <div class="row g-5">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-item w-100">
                                        <label class="form-label my-3">Code<sup>*</sup></label>
                                        <input type="text" class="form-control" required name = "code">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-item w-100">
                                        <label class="form-label my-3">Name<sup>*</sup></label>
                                        <input type="text" class="form-control" required name = "name" >
                                    </div>
                                </div>
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3">Google Map Link</label>
                                <input type="text" class="form-control" name ="googleLink">
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-4">
                                    <div class="form-item w-100">
                                        <label class="form-label my-3">Country<sup>*</sup></label>
                                        <input type="text" class="form-control" required name = "country">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-4">
                                    <div class="form-item w-100">
                                        <label class="form-label my-3">City<sup>*</sup></label>
                                        <input type="text" class="form-control" required name = "city">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-4">
                                    <div class="form-item w-100">
                                        <label class="form-label my-3">Region<sup>*</sup></label>
                                        <input type="text" class="form-control" required name = "region">
                                    </div>
                                </div>
                            </div>
                           
                            <div class="form-item">
                                <label class="form-label my-3">Address <sup>*</sup></label>
                                <input type="text" class="form-control" required name = "address">
                            </div>
                            
                            <hr>
                            <div class="form-item">
                                <textarea  class="form-control" spellcheck="false" cols="30" rows="11" placeholder="Notes (Optional)" name="description"></textarea>
                            </div>
                            <div class="row">
                             <div class="col-md-12 col-lg-12">
                                    <div class="form-item w-100">
                                        <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                                        <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Save</button> 
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Market Page End -->


      {% endblock %}