{% extends "layout.html" %}
{% block body %}



        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(static/img/Search.jpg); background-repeat: no-repeat;background-position: center;">
        </div>
        <!-- Single Page Header End -->
        <!-- Search Page Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Products</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Market</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for data in prices %}
                            <tr>
                                <th scope="row">
                                    <div class="d-flex align-items-center">
                                        <img src="data:;base64,{{ data[0] }}" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="" alt="">
                                    </div>
                                </th>
                                <td>
                                    <a href="/item/{{data[4]}}"><p class="mb-0 mt-4">{{data[1]}}</p></a>
                                </td>
                                <td>
                                    <p class="mb-0 mt-4">{{data[2]}}</p>
                                </td>
                                <td>
                                    <a href="/market/{{data[5]}}"><p class="mb-0 mt-4">{{data[3]}}</p></a>
                                </td>
                            </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Search Page End -->

{% endblock %}